body{
    font-family: sans-serif;
    
}
section{
    margin: 50px 150px 150px;
}
.span-color-orange{
    color: orange;
}
.span-color-blue{
    color: rgb(24, 24, 58);
}
.span-color-red{
    color: brown;
}
h1{
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Tinos', serif;
    font-size: 80px;
    border-left: 5px solid tomato;
}
h2{
    font-size: 60px;
}
h3{
    color: rgb(43, 39, 39);
    font-size: 50px;
    font-weight: 900;
}
h4{
    font-size: 35px;
    font-weight: bold;
}
h5{ 
    font-size: 45px;
    font-family: 'Lobster', cursive;
    }
section{
    margin-bottom: 100px;
}
p{
    font-size: 24px;
}
.link-button{
    text-decoration: none;
    color: rgb(247, 231, 231);
    background-color: tomato;
    padding: 15px 40px;
    border-radius: 3px;
}
.half-width{
    width: 50%;
}
.display-flex{
    display: flex;
}
.half-width img{
    padding-left: 100px;
    width: 80%;
    height: 600px;
}
.one-third{
    width: 30%;
    padding: 40px 30px;
    background-color: blue;
    border-radius: 30px;
}
.one-third img{
    width: 180px;
    height: 180px;
}
.my-mission-section h2{
    color: rgb(24, 24, 58);
    text-align: center;
    font-size: 53px;
    font-weight: 900;
}
.div1-bg-color{
    background-color: rgb(232, 235, 252);
    margin-right: 20px;
}
.div2-bg-color{
    background-color: rgb(248, 231, 234);
    margin-right: 20px;
    margin-left: 20px;
}
.div3-bg-color{
    background-color: rgba(248, 244, 231, 0.986);
    margin-left : 20px;
}
.details-section-pic{
    width: 40%;
}
.details-section-pic img{
    height: 500px;

}
.details-section-info-1 a{
    padding: 15px 50px;
    text-decoration: none;
    background-color: tomato;
    color: rgb(245, 234, 234);
    border-radius: 5px;
}
.details-section-info-1{
    margin-left: 80px;
}
.details-section-info-2 a{
    padding: 15px 50px;
    text-decoration: none;
    background-color: tomato;
    color: rgb(245, 234, 234);
    border-radius: 5px;
}
.details-section-info-2{
    margin-right: 80px;
}
.application-build-heading{
    text-align: center;
}
.application-pic{
    object-fit: fill;
}
#application-info{
    padding-top: 100px;
    padding-bottom:100px ;
}
#application-info a{
    color: rgb(192, 185, 185);
    text-decoration: none;
    background-color: tomato;
    padding: 20px 40px;
    border-radius: 5px;
}
footer{
    text-align: center;
    color: white;
    background-color: rgb(17, 17, 17);
    height: 250px;
    padding-top: 10px;
    

}
